<template>
<div class="main">
  <div class="footer">
      <el-row class="mt-0" :gutter="30">
        <el-col  :xs="24" :sm="24" :md="24" :lg="8" :xl="8">
          <h1>Address</h1>
          <p>Chandaria Business Incubation Center</p>
          <p>P.O. BOX 43844 - 00100 Nairobi</p>
        </el-col>
        <el-col  :xs="24" :sm="24" :md="24" :lg="8" :xl="8">
          <h1>Phone</h1>
          <p>+254700 000 000</p>
          <h1>E-mail</h1>
          <p>info@trolleyhut.com</p>
        </el-col>
        <el-col  :xs="24" :sm="24" :md="24" :lg="8" :xl="8">
          <p>Talk to us</p><br>
          <div class="social">
            <el-button  type="primary"  circle><a target="_blank" href="https://www.twitter.com/trolleyhut"><i class="mdi mdi-twitter"></i> </a></el-button>
            <el-button  type="primary"  circle><a target="_blank" href="https://www.facebook.com/trolleyhut"><i class="mdi mdi-facebook"></i> </a></el-button>
            <el-button  type="primary"  circle><a target="_blank" href="https://www.instagram.com/trolleyhut.limited"><i class="mdi mdi-instagram"></i> </a></el-button>
          </div>
        </el-col>
      </el-row>
    </div>
</div>
</template>

<script>
    import About_us from "../pages/aboutus";
    export default {
        name: "Footer",
      components: {About_us}
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  * {
    font-family: 'Quicksand',sans-serif;
  }
  .main {
    background-color: rgb(0,102,132,0.7);
  }
.footer {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  align-items: center;


  margin: 0px 50px 0px 50px;
  /*margin-right: auto;*/
  /*margin-left:auto ;*/
}
a {
  color: white;
}
  a:hover {
    color: white;
  }
.footer a {
    text-decoration: none;
}
  h1, p {
    color: white;
  }
  h1 {
    font-weight: bold;
  }
  .social {
    display: flex;
    text-align: center;
  }
</style>
