<template>
  <b-navbar fixed-top="true" is-transparent="true">
    <template slot="brand">
      <b-navbar-item class="nav-link" tag="router-link" :to="{ path: '/' }">
        <img
          src="../assets/logo.png"
          alt="trolleyhut logo"
        >
        <h1>trolleyhut</h1>
      </b-navbar-item>
    </template>

    <template slot="end">
      <b-navbar-item class="nav-link" tag="router-link" :to="{ path: '/' }">
        Home
      </b-navbar-item>
      <b-navbar-item class="nav-link" tag="router-link" :to="{ path: '/services' }" >
        Services
      </b-navbar-item>
      <b-navbar-item class="nav-link" tag="router-link" :to="{ path: '/aboutus' }">
        About us
      </b-navbar-item> <b-navbar-item class="nav-link" tag="router-link" :to="{ path: '/contactus' }">
      Contact Us
    </b-navbar-item>
      <b-navbar-item class="nav-link" tag="router-link" :to="{ path: '/support' }">
        Support
      </b-navbar-item>
      <b-navbar-item tag="div">

        <div class="buttons">
          <div class="space"></div>

        </div>
      </b-navbar-item>
    </template>
  </b-navbar>

</template>

<script>
    export default {
        name: "Nav"
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');  * {
      font-family: 'Quicksand',sans-serif;
    }
  .nav-link:hover {
  color: rgb(0,102,132);
  }
  .nav-link:active {
  color: rgb(218,28,75);
  }
  .space {
    margin-right: 30px;
  }
  h1 {
    font-size: 4vh;
    margin-left: 15px;
  }
</style>
