<template>
  <div>
  <navigation/>

    <nuxt/>

<footer-component/>

  </div>
</template>

<script>
  import navigation from '../components/Nav'
  import footerComponent from '../components/Footer'
export default {
    components: {
      navigation,
      footerComponent
    },
  data () {
    return {
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        },
        {
          title: 'Inspire',
          icon: 'lightbulb',
          to: { name: 'inspire' }
        }
      ]
    }
  }
}
</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  * {
    font-family: 'Quicksand',sans-serif;
  }
</style>
