<template>
	<div class="main">

		<div class="bg-color">
		<div class="margin">
			<el-row class="mt-0" :gutter="30">

				<el-col  :xs="24" :sm="24" :md="12" :lg="12" :xl="12">

					<div class="text">
						<h3>We are all</h3>
						<h3>about</h3>
						<h3>Deliveries</h3>
						<!--<p id="tag">We'll get it for you</p>-->
					</div>
				</el-col>
				<el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
					<div class="column">
						<img src="../assets/mambo.png">
					</div>
				</el-col>
			</el-row>

		</div></div>
			<div class="margin row2">
				<div class="space"></div>
				<el-row class="row r1" :gutter="30">
					<el-col class="col"  :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
						<div  class="service">
							<div id="service1"></div>
							<br><h2>Our Vision</h2><br>
							<p>To be the company you think of whenever<br> you want anything delivered safely and on<br> time. <br><br> </p>
						</div>
					</el-col>
					<el-col class="col"  :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
						<div class="service">
							<div id="service2"></div>
							<!--<img src="../assets/logo.png" style="height: 50px"/>-->
							<br><h2>Our Mission</h2><br>
							<p>Trolleyhut is transforming the way your goods move around counties by enabling anyone to have anything
								delivered on demand or to deliver anything on demand.<br><br>
								Our revolutionary urban logistics platform connects customers with local couriers
								who can deliver anything from any store or restaurant in minutes.<br><br>
								We empower communities to shop local with no waiting and empowering businesses through our app to offer delivery services.</p>
						</div>
					</el-col>
					<el-col class="col" :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
						<div  class="service">
							<div id="service3"></div>
							<br><h2>Avoid long queues</h2><br>
							<p>With Trolleyhut, you can do all your shopping on our platform, once it's ready, you can physically collect
								it ready to go from the physical store.<br><br> Avoid the hustle of long queues and shop with Trolleyhut.</p>
						</div>
					</el-col>
				</el-row>
				<div class="space"></div>

		</div>
	</div>
</template>

<script>
    export default {
        name: "about_us"
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  * {
    font-family: 'Quicksand',sans-serif;
  }
	.space {
		height: 100px;
	}
	.margin {
		padding: 0px 50px 0px 50px;
	}
	.bg-color {
		background-color: rgb(252,228,236,0.3);
	}
	.text {
		text-align: center;
	}
	.service {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	h3 {
		font-size: 7vw;
	}
	h2 {
		font-weight: bold;
	}
	#service1 {
		background: transparent url(../assets/vision.png) repeat scroll center center;
		background-size: cover;
		border: 2px none #adadad;
		opacity: 1;
		border-radius: 230px 230px 230px 230px;
		-moz-border-radius: 230px 230px 230px 230px;
		-webkit-border-radius: 230px 230px 230px 230px;
		width: 200px;
		height: 200px;

	}
	#service2 {
		background: transparent url(../assets/mission.png) repeat scroll center center;
		background-size: cover;
		border: 2px none #adadad;
		opacity: 1;
		border-radius: 230px 230px 230px 230px;
		-moz-border-radius: 230px 230px 230px 230px;
		-webkit-border-radius: 230px 230px 230px 230px;
		width: 200px;
		height: 200px;

	}
	#service3 {
		background: transparent url(../assets/team.png) repeat scroll center center;
		background-size: cover;
		border: 2px none #adadad;
		opacity: 1;
		border-radius: 230px 230px 230px 230px;
		-moz-border-radius: 230px 230px 230px 230px;
		-webkit-border-radius: 230px 230px 230px 230px;
		width: 200px;
		height: 200px;

	}
</style>
