<template>
  <div class="main">
    <div class="contact">
    <h1 style="font-size: 6vh;">Contact Us</h1>
    <el-form class="form" ref="form" :model="form">
      <el-form-item>
        <el-input class="col-p" placeholder="Email" type="email" v-model="form.email"></el-input>
      </el-form-item>
      <el-form-item >
        <el-input class="col-p" placeholder="Name" v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item>
        <el-input class="col-p" placeholder="Message" type="textarea" v-model="form.message"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="danger" @click="onSubmit">Submit</el-button>
        <el-button>Cancel</el-button>
      </el-form-item>
    </el-form>
</div>
</div>
</template>
  <script>
    export default {
      data() {
        return {
          form: {
            name: '',
            email: '',
            message: '',
          }
        }
      },
      methods: {
        onSubmit() {
          console.log('submit!');
        }
      }
    }
  </script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  * {
    font-family: 'Quicksand',sans-serif;
  }
  .main {
    width: 100%;
    background-color: rgb(252,228,236,0.3);
    padding: 50px 0px 50px 0px;


  }
.contact {
  padding: 0px 50px 0px 50px;
  align-content: center;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 65%;

}
 .contact h1 {
    padding-bottom: 30px;
  }
.col-p {
  /*padding: 0 10px;*/
  /*box-sizing: border-box;*/
}

</style>
