<template>
  <div class="main">
        <el-row class="mt-0" :gutter="30">
        <el-col  :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <div class="text">
                <p>Anywhere</p>
                <p>Anything</p>
                <p>Anytime</p>
                <p id="tag">We'll get it for you</p>
              </div>
        </el-col>
        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
          <div class="column">
          <img src="../assets/home-bg.png">
          </div>
        </el-col>
      </el-row>
  </div>
</template>

<script>
    export default {
        name: "homepage",
      components: {
      }
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  * {
    font-family: 'Quicksand',sans-serif;
  }
  .main {
    padding: 0px 50px 0px 50px;

  }
.text {
  text-align: center;
}
p {
 font-size: 7vw;
}
#tag {
  font-size: 4vw;
}

  .column {
    align-items: center;
  }


</style>
