<template>
  <div class="main">
    <div class="home">
      <home></home>
    </div>
    <div class="space"></div>
    <div class="services">
      <services/>
    </div>
  </div>
</template>

<script>
  import home from './home.vue'
  import services from './services.vue'

  export default {
    name: 'HomePage',

    components: {
      services,
      home,
    }
  }
</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');  * {
    font-family: 'Quicksand',sans-serif;
  }
</style>
