<template>
    <div class="policy">
      <h1>Terms of Service</h1><br><br>
      <h2>Last Updated: January 17, 2019</h2><br><br>
      <h2>Country:<strong>Kenya</strong> </h2><br><br>
      <p><strong>These Terms provide that with limited exceptions covered by Section 17.3 of these Terms all disputes between you and Trolleyhut
        arising out of or relating to these Terms or your use of the PLATFORM (the “Disputes”) will be resolved by BINDING ARBITRATION.
        For such Disputes, YOU waive YOUR RIGHT TO bring a class or representative action, or GO TO COURT under these Terms.</strong>>
        Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or jury, and your claims must be brought individually and not
        as a class or representative action. Please review Section 17 (“Dispute Resolution and Arbitration”) for the details regarding your
        agreement to individually arbitrate any Disputes with Trolleyhut.</p><br><br>
      <p>Thank you for your interest in the Trolleyhut application for your mobile device (the "App") provided to you by Trolleyhut Limited.
        ("Trolleyhut", "us" or "we"), and our web site at Trolleyhut.com (the "Site"), as well as all related web sites, networks, and
        downloadable software provided by us and on which a link to these Terms of Service is displayed (collectively, together with the
        App and Site, our "Platform"). These Terms of Service (these "Terms"), including the Privacy Policy incorporated into these Terms by
        reference and any other applicable policies and guidelines, as may be updated from time to time, govern your  use of the Platform.
        These Terms constitute a legal agreement between you and Trolleyhut. In order to use the Platform you must agree to these Terms.</p><br><br>
      <p>All references to “you” or “your,” as applicable, mean the person who accesses, uses, and/or participates in the Platform in any manner, and each
        of your heirs, assigns, and successors. If you use the Platform on behalf of an entity, organization, or company, you represent and warrant
        that you have the authority to bind that entity to these Terms, your acceptance of the Terms will be deemed an acceptance by that entity,
        and “you” and “your” herein shall refer to that entity.</p><br><br>
      <p>BY DOWNLOADING, INSTALLING, OR OTHERWISE ACCESSING OR USING THE PLATFORM, YOU AGREE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THESE TERMS.
        IF YOU DO NOT AGREE, YOU MAY NOT USE THE PLATFORM.</p>
    </div>
</template>

<script>
    export default {
        name: "privacy_policy"
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  * {
    font-family: 'Quicksand',sans-serif;
  }
.policy {
  margin: 0px 100px 0px 100px;
}
</style>
