<template>
  <div class="main">
		<div class="main-page">
			<div class="bg-color">
				<div class="margin">
					<el-row class="row r1" :gutter="30">
						<h1 style="font-size: 6vh; text-align: center">What we do</h1>
						<el-col class="col"  :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
										 <div  class="service">
											 <div id="service1"></div>
											 <h2>We deliver all packages</h2>
												<p>Trolleyhut provides a platform where businesses as well as individuals can use our couriers to deliver packages
													with the press of a button. <br><br> Just choose where we pick the package from and where we shall deliver it to.</p>
								</div>
							</el-col>
							<el-col class="col"  :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
										 <div class="service">
											 <div id="service2"></div>
												<!--<img src="../assets/logo.png" style="height: 50px"/>-->
											 <h2>We do your shopping and deliver it to you</h2>
												<p>Be it groceries, home shopping, food, cosmetics, alcohol, medicine, books, clothes, shoes or accessories,
													we deliver it straight to your doorstep or office.<br><br>
													Just shop from any of our partner stores on the app and get your goods in less than two hours.</p>
								</div>
							</el-col>
							<el-col class="col" :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
							 <div  class="service">
								 <div id="service3"></div>
								 <h2>Avoid long queues in stores</h2>
									<p>With Trolleyhut, you can do all your shopping on our platform, once it's ready, you can physically collect
										it ready to go from the physical store.<br><br> Avoid the hustle of long queues and shop with Trolleyhut.</p>
								</div>
							</el-col>
					</el-row>
				</div>
			</div>
			<div class="margin">
			<el-row class="row r2">
				<el-col class="col" :xs="24" :sm="24" :md="12" :lg="6" :xl="6">
					<div  style="padding-top: 100px" class="service">
						<div  class="delivery">
							<h1>Get free<br> unlimited delivery</h1>
							<p>
								<br><br><br>
								Get what you pay for.<br><br><br>Pay 850KES per month (billed annually) for a year of free delivery with Trolleyhut Unlimited.
								<br><br><br>Applies only for shopping and not sending packages*
							</p>
							<br><br>
							<el-button type="danger" round="true" v-on:click="learnMore()"> Learn more</el-button>
						</div>
					</div>
				</el-col>
				<el-col class="col" :xs="24" :sm="24" :md="12" :lg="18" :xl="18">
					<div  class="deliveryImage">
					<img src="../assets/driver.png">
					</div>
				</el-col>
			</el-row>
			</div>
			<div class="learnMore" v-if="openLearn === true">
				<div class="bg-color-blue">
					<div class="margin">
						<el-row class="row">
					<el-col class="col" :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
						<div  style="padding-top: 100px" class="service">
							<div  class="delivery">
								<h1 style="font-size: 10vh">All year free deliveries</h1>
								<p>
									<br><br><br>
									Get free delivery from any partner store on all orders over 1,000KES.
									Pay 850KES per month (billed annually) for a year of free delivery with Trolleyhut Unlimited.
									<br><br><br>Applies only for shopping and food. Not sending packages*
								</p>
								<br><br>
							</div>
						</div>
					</el-col>
					<el-col class="col" :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
						<div  class="deliveryImage">
						<img src="../assets/nduthi.png">
						</div>
					</el-col>
					</el-row>
					</div>
				</div>
					<div class="margin">

						<el-row class="row rb">
				<el-col class="col" :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
					<div  class="deliveryImage">
						<img src="../assets/key.png">
					</div>
				</el-col>
				<el-col class="col" :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
					<div  style="padding-top: 100px" class="service">
						<div  class="delivery">
							<h1 style="font-size: 10vh">Unlock the many perks of unlimited</h1>
								<br><br>
							<h2>Free delivery on orders above 1,000KES</h2>
							<p>Get all of the options you love, with none of the fees.</p>
							<br><br>
							<h2>Exclusive membership offers </h2>
							<p>Get access to promotions, discounts and exclusive events.</p>
							<br><br>
							<h2>No added fees for small orders or peak pricing </h2>
							<p>Need only a latte? Just order away.</p>
							<br><br>
						</div>
					</div>
				</el-col>
			</el-row>
			</div>

				<div class="bg-color">
				<div class="rib">
					<el-row class="row rc">
					<el-col class="col" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
						<div  style="padding-top: 100px" class="service">
							<div  class="delivery">
								<h1 style="font-size: 6vh">An Unlimited membership pays for itself <br>in as little as 1 order per month.</h1>
								<p>
									<br><br><br>
									With the money you’ll save on delivery fees and peak pricing,<br> you can cover the cost of your membership
									in as little as one order per month. <br>Unlimited Members save around 9,000KES each year on average.

								</p>
								<br><br>
							</div>
						</div>
					</el-col></el-row></div></div>
				<div class="rib">
				<el-row>
					<el-col class="col" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
							<div class="route">
								<h1 style="font-size: 10vh; padding-bottom: 50px">Unlimited Options</h1>
								<div  class="routeImage"></div>
								<p style="padding-top: 50px"> With multiple businesses and restaurants to choose from,<br> you can explore a new part of town,<br> find a hidden gem, <br>or get your favorites delivered.</p>
						</div>
					</el-col>
				</el-row></div></div>
			<div class="bg-color-blue">
				<div class="margin">
			<el-row class="row r3">
				<el-col class="col" :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
					<div  class="deliveryImage">
						<img src="../assets/stores.png">
					</div>
				</el-col>
				<el-col class="col" :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
					<div  style="padding-top: 100px" class="service">
						<div  class="delivery">
							<h1 style="font-size: 7vh">All your favorite stores in one place</h1>
							<br><br>
							<p>We have all the options.<br><br>
								Order from a wide variety of local stores.</p>
							<br><br>
							<p>We have supermarkets, food joints, alcohol dispensaries,<br>
								pharmacies, book stores, beauty stores and accessories,<br>
								all in one place for your convenience.</p>
							<br><br>
						</div>
					</div>
				</el-col>
			</el-row></div></div>
			<div class="margin">
			<el-row class="row r4">
				<el-col class="col col4a" :xs="24" :sm="24" :md="12" :lg="6" :xl="6">
					<div class="service">
						<div  class="delivery">
							<h1 style="font-size: 7vh">We have a wide range of couriers</h1>
							<br><br>
							<p>From couriers on foot, to couriers in lorries, you get your goods delivered in good time and in great condition.<br><br>
								Want to earn good money working part time as per your schedule?<br>
								Why not join Trolleyhut's fleet of couriers.<br><br>
								Whether you have a lorry, a van, a car, a motorcycle, a scooter, a bicycle or simply just walking, if you can get the job done, you can join our fleet.</p>
							<br><br>
						</div>
					</div>
				</el-col>
				<el-col class="col col4a" :xs="24" :sm="24" :md="2" :lg="2" :xl="2"></el-col>
				<el-col class="col" :xs="24" :sm="24" :md="12" :lg="16" :xl="16">
					<div  class="deliveryImage">
						<img src="../assets/climbing.png">
					</div>
				</el-col>
			</el-row>
			</div>
		</div>
		<div class="about-us">

		</div>
  </div>
	
</template>

<script>
    export default {
        name: "services",
      data () {
          return{
            openLearn:false
          }
      },
      methods : {
          learnMore(){
            this.openLearn = !this.openLearn;
          }
      }
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  * {
    font-family: 'Quicksand',sans-serif;
  }
  .margin {
    padding: 0px 50px 0px 50px;
  }
  .bg-color {
    background-color: rgb(218,28,75,0.1);
  }
  .bg-color-blue {
    background-color: rgb(0,102,132,0.1);
  }
  .col4a {
  }

  h2 {
    font-weight: bold;
    padding: 50px 0px 30px 0px;
  }
  h1 {
    font-size: 3vh;
  }
  p {
    font-size: 2.5vh;
  }
  .col {
    padding: 20px 0px 20px 0px;
  }
 .row {
   padding: 50px 0px 50px 0px;
 }
  .delivery {
  }
  .route {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .routeImage {
    background: transparent url(../assets/routes.png) repeat scroll center center;
    background-size: cover;
    border: 2px none #adadad;
    opacity: 1;
    border-radius: 330px 330px 330px 330px;
    -moz-border-radius: 330px 330px 330px 330px;
    -webkit-border-radius: 330px 330px 330px 330px;
    width: 400px;
    height: 400px;
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #service1 {
    background: transparent url(../assets/delivery.png) repeat scroll center center;
    background-size: cover;
    border: 2px none #adadad;
    opacity: 1;
    border-radius: 230px 230px 230px 230px;
    -moz-border-radius: 230px 230px 230px 230px;
    -webkit-border-radius: 230px 230px 230px 230px;
    width: 200px;
    height: 200px;

  }
  #service2 {
    background: transparent url(../assets/items.png) repeat scroll center center;
    background-size: cover;
    border: 2px none #adadad;
    opacity: 1;
    border-radius: 230px 230px 230px 230px;
    -moz-border-radius: 230px 230px 230px 230px;
    -webkit-border-radius: 230px 230px 230px 230px;
    width: 200px;
    height: 200px;

  }
  #service3 {
    background: transparent url(../assets/shopping.png) repeat scroll center center;
    background-size: cover;
    border: 2px none #adadad;
    opacity: 1;
    border-radius: 230px 230px 230px 230px;
    -moz-border-radius: 230px 230px 230px 230px;
    -webkit-border-radius: 230px 230px 230px 230px;
    width: 200px;
    height: 200px;

  }
.r1 {
}

  .main {


}
</style>
