<template>
	<div class="bg-color">
		<div class="margin">
			<el-row class="row">
				<el-col class="col" :xs="24" :sm="24" :md="12" :lg="10" :xl="10">
					<div  style="padding-top: 100px" class="service">
						<div  class="delivery">
							<h1>We are ready</h1>
							<h1>to assist</h1>
							<p>Trolleyhut customer service is always ready to help you when you need it,<br> within the shortest time possible.</p>
							<br><br>
							<p>Feel free to ask or complain about anything at anytime and air your concerns.</p>
							<br><br>
							<el-button round="true" type="danger">Contact Us</el-button>
						</div>
					</div>
				</el-col>
				<el-col class="col" :xs="24" :sm="24" :md="12" :lg="14" :xl="14">
					<div  class="deliveryImage">
						<img src="../assets/support.png">
					</div>
				</el-col>
			</el-row>
		</div>
	</div>
</template>

<script>
    export default {
        name: "support"
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  * {
    font-family: 'Quicksand',sans-serif;
  }
	h1 {
		font-size: 10vh;
	}
	.margin {
		padding: 0px 50px 0px 50px;
	}
	.bg-color {
		background-color: rgb(252,228,236,0.3);
	}
	.service {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
</style>
